<?xml version="1.0" encoding="utf-8"?>
<!--
    注意: 除了手动编辑此文件以外，您还可以使用 Web 管理工具来
    配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在    machine.config.comments 中，
   该文件通常位于
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings>
    
    <!--方案执行结果大类-->
    <add key="方案执行结果" value="结案,已处置未结案,已上会已启动,未上会已启动,未启动,其他"/>
    <add key="方案执行状态大类" value="协商处置,诉讼处置,打包处置,其他方式,已调查已审核,已调查未审核,未调查"/>
    
    <!--方案执行结果二级分类-->
    <add key="结案" value="协商处置,诉讼处置,打包处置,其他方式"/>
    <add key="已处置未结案" value="协商处置,诉讼处置,打包处置,其他方式"/>
    <add key="已上会已启动" value="协商处置,诉讼处置,打包处置,其他方式"/>
    <add key="未上会已启动" value="协商处置,诉讼处置,打包处置,其他方式"/>
    <add key="未启动" value="已调查已审核,已调查未审核,未调查"/>
    <add key="其他" value="已调查已审核,已调查未审核,未调查"/>

    <!--方案执行结果三级分类-->  
    <add key="协商处置" value="谈判,签订协议,部分执行,全部执行"/>
    <add key="诉讼处置" value="立案,财产保全,一审,二审,申请执行,结案,中止执行,终止执行"/>
    <add key="打包处置" value="打包处置"/>
    <add key="其他方式" value="委托拍卖,合作处置,委托追偿,债权重组,破产清偿,已调查已审核,已调查未审核,未调查"/>
    
  </appSettings>
</configuration>
